.container {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 100%;
}

.row {
    padding: 15px;
}

.cell {
    display: flex;
    height: 100%;
}

.delete-checkbox {
    height: 14px;
    width: 14px;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 9.5px;
}

.dropdown-toggle:empty::after {
    margin-top: 0;
}